* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Quicksand",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #ead2ac; 
  //background: #76b937; 
  transition: 0.4s ease-in-out;
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: visible;
}

#cursor {
  font-size: 100px;
}

.scrollArea {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

header {
  position: absolute;
  z-index: 99;
  width: 100%;
  padding: 60px;
  .header-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .logo {
      font-weight: 900;
      letter-spacing: 2px;
      color: #fff;
    }
    nav {
      ul {
        margin: 0;
        padding: 0;
        display: flex;
        li {
          list-style: none;
          margin: 0 60px;
          &.btn {
            a {
              color: #fff;
              font-weight: 600;
              background: #23232a;
              padding: 16px 24px;
              border-radius: 10px;
            }
          }
          a {
            text-transform: capitalize;
            text-decoration: none;
            color: #fff;
          }
        }
      }
    }
  }
}

.title {
  position: absolute;
  transform: translate(0px, -100px);
  font-size: 4rem;
  text-align: left;
  font-weight: 200;
  margin: 0 auto;
  color: rgb(255, 255, 255);
 /*  span {
    display: block;
  } */
 /*  @media (max-width: 1440px) {
    font-size: 2rem;
  } */
}

.text {
  transform: translate(365px, -140px);
  font-size: 1.5rem;
  text-align: left;
  width: 100%;
  margin: 0 auto;
  color: #fff;
  /* span {
    display: block;
  }
  @media (max-width: 1440px) {
    font-size: 2rem;
  } */
}

.blink {
  font-size: 1rem;
  text-align: right;
  margin: 0 auto;
  color: #fff;
  span {
    display: block;
  }
}

.trails-main {
  position: absolute;
  transform: translate(100px, -100px);
  overflow: visible;
  cursor: pointer;
  display: flex;
  white-space: nowrap;
/*   justify-content: left;
  align-items: left; */
}

.trails-text {
  position: absolute; 
   width: 0px;
  line-height: 110px;
  color: rgb(255, 255, 255);
  font-size: 3em;
  font-weight: 200;
  letter-spacing: -5px;
  
  will-change: transform, opacity;
  overflow: visible;
}

.trails-text > div {
  overflow: visible;
}

.loading {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: #171717;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.loading-bar-container {
  width: 100px;
  height: 32px;
  background: #272727;
}

.loading-bar {
  height: 32px;
  background: #f15946;
}

